@import 'bourbon';
@import 'utils/reset';
@import 'default';
@import 'utils/mixins';
@import 'utils/variables';
@import 'utils/helper';

body{
	background-color: $black;
}


// game window //

$module: 			game;

.#{$module} {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&__hints {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 9999
	}

	&__hint {
		font-size: em(12);
		text-transform: uppercase;
		display: block;
		color: $white;
		background-color: green;
		border-radius: 2px;
		max-width: em(250,12);
		text-align: center;
		padding: em(5,12) em(5,12);
		margin-bottom: em(10,12);
	}

	&__lose-box {
		display: table;
		width: 100%;
		max-width: em(400);
		position: absolute;
		left: 50%;
		margin-left: em(-200);
		top: 50%;
		@include transform(translateY(-50%));
		background-color: firebrick;
		border-radius: 20px;
		border: 5px solid $darkGray;
		cursor: pointer;
	}

	&__lose-box--inner {
		display: table-cell;
		vertical-align: middle;
	}

	&__lose-box-text {
		font-size: em(70);
		text-align: center;
		padding: em(30,70) 0;
		color: $white;
		text-transform: uppercase;
	}
}