@import 'bourbon';
@import 'utils/reset';
@import 'default';
@import 'utils/mixins';
@import 'utils/variables';

body{
	background-color: $black;
}


// game window //

$module: 			game;

.#{$module} {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}